.brainIcon {

    width: 40px;
    margin-right: 1em;
    border: 1px solid white !important;
    box-shadow: 2px 2px 1px 1px black;
    border-radius: 40px;
}

.navbar-brand {

    font-weight: 900 !important;
    color: white !important;
    text-shadow: 3px 3px 3px black;

}

.logout {

    display: none;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 900;
    box-shadow: 0px 0px 4px 0px black;
    transition: 1s;
}

.logout:hover {

transform: scale(1.2);
rotate: 10deg;

}

.navbar {

    background-color: pink !important;
    border-bottom: 2px solid black;
}