.containerAll {

    display: flex;
    justify-content: center;

}

.containerError {

    display: flex;
    justify-content: center;

}

.logged {

display: none;
color: green;
font-weight: 900;
text-align: center;

}

.error {

    display: none;
    color: red;
    font-weight: 900;
}

.containerItems {

  
    margin-top: 3em;

}

input {

    border: 2px solid black !important;

}

input:hover, input:active, input:focus {

    box-shadow: 0px 0px 4px 3px pink !important;
    border: 2px solid transparent !important;
}

button {

    width: 100%;
    background-color: pink;
    border: 1px solid black !important;
    font-weight: 900;
}

label {

    font-weight: 900 !important;
    color: pink;
    text-shadow: 2px 2px 2px black;

}


button:hover {

    background-color: transparent;
    border: 1px solid transparent !important;
    color: black !important;
    box-shadow: 0px 0px 4px 3px pink !important;
}
