.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 5em;

}

.btnStartColors {

    background-color: pink !important;
    font-weight: 900 !important;

}

.btnStartColors:hover {

    background-color: transparent !important;
    color: pink !important;
    border: 1px solid transparent !important;
    box-shadow: 0px 0px 4px 2px pink !important;
}

.color1 {

    display: none;
    color: black;
}

.color2 {

    display: none;
    color: black;
}

.color3 {

    display: none;
  
}

.containerColors {

    display: flex;
    justify-content: center;
    margin-top: 2em;
gap: 2em;
}

.sessionStyle {

    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 0.5em;
    margin-top: 0.3em;
    

}