.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 5em;

}

.btnStartColors {

    background-color: pink !important;
    font-weight: 900 !important;
    transition: 1s !important;

}

.btnStartColors:hover {

    background-color: transparent !important;
    color: pink !important;
    border: 1px solid transparent !important;
    box-shadow: 0px 0px 4px 2px pink !important;
}

.color1 {

    display: none;
    width: 150px;
    padding: 10px;
    height: 30vh;
    border-radius: 40px;
}

.color2 {

    display: none;
    width: 150px;
    padding: 10px;
    height: 30vh;
    border-radius: 40px;
}

.color3 {

    display: none;
    width: 150px;
    padding: 10px;
    height: 30vh;
    border-radius: 40px;
  
}


@media only screen and (width: 400px) {
    .color1 {

        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
    }
    
    .color2 {
    
        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
    }
    
    .color3 {
    
        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
      
    }
    
  }

  @media only screen and (width: 375px) {

  
    
    .color1 {

        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
    }
    
    .color2 {
    
        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
    }
    
    .color3 {
    
        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
      
    }
    
  }


  @media only screen and (width: 425px) {

  
    
    .color1 {

        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
    }
    
    .color2 {
    
        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
    }
    
    .color3 {
    
        display: none;
        width: 100px;
        padding: 10px;
        height: 20vh;
        border-radius: 40px;
      
    }
    
  }

  @media only screen and (width: 320px) {

  
    
    .color1 {

        display: none;
        width: 80px;
        font-size: 15px;
        padding: 30px;
        height: 20vh;
        border-radius: 30px;
    }
    
    .color2 {
    
        display: none;
        width: 80px;
        font-size: 15px;
        padding: 30px;
        height: 20vh;
        border-radius: 30px;
    }
    
    .color3 {
    
        display: none;
        width: 80px;
        font-size: 15px;
        padding: 30px;
        height: 20vh;
        border-radius: 30px;
      
    }
    
  }

.containerColors {

    display: flex;
    justify-content: center;
    margin-top: 2em;
gap: 2em;
}

.sessionStyle {

    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-left: 0.5em;
    margin-top: 0.3em;
    

}


/* ANSWER */

.answerContainer {

    display: flex;
    justify-content: center;
    display: none;

}

.answerContainer2 {

    display: flex;
}


.answerColor1 {

    margin-left: 1em;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s !important;
    color: pink;
    font-weight: 900;
    text-align: center;
}   



.answerColor2 {

    margin-left: 1em;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s !important;
    color: pink;
    font-weight: 900;
    text-align: center;
}

.answerColor3 {

    margin-left: 1em;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s !important;
    color: pink;
    font-weight: 900;
    text-align: center;
}


.answerColor1:hover, .answerColor1:active, .answerColor1:focus {

    margin-left: 1em;
    border: 2px solid transparent !important;
    outline: 2px solid transparent !important;
    box-shadow: 0px 0px 4px 2px pink;
    border-radius: 10px;
} 

.answerColor2:hover, .answerColor2:active, .answerColor2:focus {

    margin-left: 1em;
    border: 2px solid transparent !important;
    outline: 2px solid transparent !important;
    box-shadow: 0px 0px 4px 2px pink;
    border-radius: 10px;
} 


.answerColor3:hover, .answerColor3:active, .answerColor3:focus {

    margin-left: 1em;
    border: 2px solid transparent !important;
    outline: 2px solid transparent !important;
    box-shadow: 0px 0px 4px 2px pink;
    border-radius: 10px;
} 



@media only screen and (width: 400px) {
    .answerColor1 {

        width: 100px;
    }   

    .answerColor2 {

        width: 100px;
    }   

    .answerColor3 {

        width: 100px;
    }   

}

@media only screen and (width: 425px) {
    .answerColor1 {

        width: 120px;
    }   

    .answerColor2 {

        width: 120px;
    }   

    .answerColor3 {

        width: 120px;
    }   

}


@media only screen and (width: 375px) {
    .answerColor1 {

        width: 100px;
    }   

    .answerColor2 {

        width: 100px;
    }   

    .answerColor3 {

        width: 100px;
    }   

}


@media only screen and (width: 320px) {
    .answerColor1 {

        width: 70px;
    }   

    .answerColor2 {

        width: 70px;
    }   

    .answerColor3 {

        width: 70px;
    }   

}

@media only screen and (width: 554px) {
    .answerColor1 {

        width: 150px;
    }   

    .answerColor2 {

        width: 150px;
    }   

    .answerColor3 {

        width: 150px;
    }   

}