/* You can add global styles to this file, and also import other style files */
body {

    background: url('/assets/img/wallpaper/brain.webp');
    background-size: 100%;

}

@media only screen and (width: 400px) {
    body {

        background: url('/assets/img/wallpaper/brain.webp');
        background-size: 150%;
    
    }
  }


  @media only screen and (width: 375px) {
    body {

        background: url('/assets/img/wallpaper/brain.webp');
        background-size: 150%;
    
    }
  }

  @media only screen and (width: 425px) {
    body {

        background: url('/assets/img/wallpaper/brain.webp');
        background-size: 150%;
    
    }
  }

  @media only screen and (width: 320px) {
    body {

        background: url('/assets/img/wallpaper/brain.webp');
        background-size: 190%;
    
    }
  }